*.docx
MashineLearning._Labs/Clusterization/bin/Debug/Clusterization.exe
MashineLearning._Labs/Clusterization/bin/Debug/Clusterization.exe.config
MashineLearning._Labs/Clusterization/bin/Debug/Clusterization.pdb
MashineLearning._Labs/Clusterization/bin/Debug/Clusterization.vshost.exe
MashineLearning._Labs/Clusterization/ClassDiagram1.cd
MashineLearning._Labs/Clusterization/bin/Debug/Clusterization.vshost.exe.config
MashineLearning._Labs/Clusterization/Matrix2D.cs
MashineLearning._Labs/Clusterization/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MashineLearning._Labs/Clusterization/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MashineLearning._Labs/Clusterization/Vector.cs
MashineLearning._Labs/Clusterization/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MashineLearning._Labs/Clusterization/bin/Debug/Clusterization.vshost.exe.manifest